html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0% 5%;
    background-color: #393E46;
    color: white;
}
.heading {
    text-align: center;
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
}

.links {
    display: flex;
    gap: 10px;
    text-align: center;
    font-size: 17px;
    align-items: center;
    font-family: 'Amatic SC', cursive;
}
.links a:link {
    text-decoration: none;
    color: white;
}
.links a:visited{
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.middle-stay {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50%;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.middle-stay h2 {
    font-family: 'Sacramento', cursive;
    font-weight: 400;
    width: 400px;
    font-size: 30px;
}

.middle-stay p {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}
.invite {
    width: 30%;
    min-width: 500px;
    border-radius: 10px;
}

.footer {
    background-color: #6D9886;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    font-weight: bold;
}

.footer-stay {
    background-color: #6D9886;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}


.footer-stay > .msg-stay {
    font-size: 20px;
}

.footer-stay > .list-stay {
    font-size: 23px;
}


.msg {
    width: 70%;
    text-align: center;
    color: #F7F7F7;
    font-size: 30px;
    max-width: 800px;
    font-family: 'Amatic SC', cursive;
}

.msg-stay {
    width: 70%;
    text-align: center;
    color: #F7F7F7;
    font-size: 30px;
    max-width: 800px;
}

.close {
    display: flex;
    background-color: #393E46;
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: rgba(240, 240, 240, 0.842);
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    
}

.close a {
    text-decoration: none;
}

.close a:visited {
    text-decoration: none;
    color: #f7f7f7b6;
}

.hotel {
    background-color: #f0ece5;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px 20px;
    font-family: 'Amatic SC', cursive;
}

.hotel-head {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.hotel-body {
    width: 95%;
    font-size: 22px;
}

@media screen and (max-width: 500px) {
    .msg {
        font-size: 22px;
        max-width: 600px;
        width: 80%;
    }

    .msg-stay {
        font-size: 19px;
        max-width: 600px;
        width: 300px;
    }

    .heading {
        font-size: 16px;
    }

    .middle-stay {
        font-size: 18px;
        width: 300px;
    }
    
    .links {
        font-size: 14px;
        gap: 8px;
    }
}